.container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #012a3f;
	border-radius: 5px;
	padding: 10px;
}

.left-container {
	align-items: center;
	justify-content: flex-start;
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 10px;
}

.right-container {
	align-items: center;
	justify-content: flex-end;
	display: flex;
	flex-direction: row;
	width: 100%;
	gap: 10px;
}

.task-done {
	color:#a7a7a7;
  position: relative;
	text-decoration: line-through;
}

.task-selected {
	background-color: #0b415c;
	border-left: 3px solid #fefae0;
}
