.tasks-container {
	display: flex;
	flex-direction: column;
	background-color: aliceblue;
}

.section-title {
	font-size: 20pt;
	padding-bottom: 20px;
}

.selector-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.space {
	margin-bottom: 10px;
}

.small-button {
	width: 2em;
	height: 2em;
	border: none;
	border-radius: 3px;
	background: none;
	color: white;
	font-weight: bolder;
}

.small-button:hover {
	color: rgb(151, 255, 107);
}

.small-button:focus {
	color: rgb(42, 102, 49);
}

.new-task-form {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	background-color: #012a3fd5;
	border-radius: 5px;
	padding: 10px;
}

.task-name-input {
	background: none;
	border: none;
	color: #fefae0;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 12pt;
	padding: 0px;
}

input.task-name-input:focus {
	outline: none;
}

.task-session-input {
	background: none;
	border: none;
	border-radius: 5px;
	background-color: #fefae0;
	color: #012a3f;
	font-family: 'Trebuchet MS', sans-serif;
	font-size: 12pt;
	padding: 5px;
	width: 5em;
}

input.task-session-input:focus {
	outline: none;
}