



// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dem-app-primary: mat.define-palette(mat.$indigo-palette);
$dem-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dem-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dem-app-theme: mat.define-light-theme((
  color: (
    primary: $dem-app-primary,
    accent: $dem-app-accent,
    warn: $dem-app-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dem-app-theme);

// Material Icons
$material-design-icons-font-directory-path: 'material-design-icons-iconfont/dist/fonts/';
@import 'material-design-icons-iconfont/src/material-design-icons';

@import 'shared/styles/volume-controls.scss';
@import 'shared/styles/sound-controls.scss';
@import 'shared/styles/animations.scss';




* {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  a, a:visited{
    color: rgb(5, 52, 72);
    text-decoration: none;
  }
}

body, .modal {
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

.modal{
  width: 100%;
  height:120%;
background-position: center;
background-attachment: fixed;
background-repeat: no-repeat;
}

// General layout
.no-border {
  border: 0px solid #ced4da;
}

.header {
  text-align: center;
  position: relative;
}

.header-controls {
  width: 60%;
  margin: 0.2rem;
}

.logo {
  max-width: 40%;
  height: auto;
  animation: fadein 1s;


}

.text-1 {
  color: rgb(216, 225, 237);
  font-size: 14px;
  font-weight: 100;
}

.list-container {
  text-align: center;
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.sound-box {
  text-align: center;
  width: 190px;
  display: inline-block;
  padding: 10px;
  margin-top: 2rem;
  animation: createbox 600ms;
  
 
}

.footer {
  padding: 5px;
  transition: ease-in 300ms;
  animation: fadein 600ms;
}

.soundbox{
  background: rgb(182,240,213);
background: linear-gradient(180deg, rgba(182,240,213,0.24693627450980393) 14%, rgba(129,193,222,0.7903536414565826) 87%);
  padding: 25px;
  text-align: center;
  // border: 1px solid #bbdae5;
  border-radius: 8px;
  transition: 0.2s;
  box-shadow: 2px 2px 5px 2px #66a5bd61;
}
.playing {
  box-shadow: 0 0 15px rgba(23, 54, 148, 0.5); /* Adjust the shadow properties as needed */
}
.favorite-btn {
  position: relative;
  bottom:15px;
  right: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  line-height: 0;
  cursor: pointer;
  color: #89b2c1;
  border: 1px transparent #496e7b;
  border-radius: 50%;
  outline: none;
  transition: 0.2s;

  &:hover{
     color: #fff;
  }
}

